html, body {
	height: 100%;
	margin: 0;
}

#wrapper {
	min-height:100%;
}

.info-header {
	text-align:center;
	background-color: #FF9900;
}
.info-header h1 {
	margin-top:0;
}

.gmaps-container {
	min-height: 100vh;
	height: 100vh;
	padding-left: 0;
	padding-right: 0;
}

.info-container {
	background-color: #434343;
	height: 100vh;
	padding-left: 0;
	padding-right: 0;
	border-right:2px solid #FF9900;
}

.info-container * {
	color: white;
}

.gridlines {
	border: 2px solid red;
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

/* TOGGLE BUTTON */
.toggle-button { 
	background-color: white; 
	margin: 5px 0; 
	border-radius: 20px; 
	border: 2px solid #D0D0D0; 
	height: 24px; 
	cursor: pointer; 
	width: 50px; 
	position: relative; 
	display: inline-block; 
	user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-moz-user-select: none; }

.toggle-button button { 
	cursor: pointer; 
	outline: 0; 
	display:block; 
	position: absolute; 
	left: 0; top: 0; 
	border-radius: 100%; 
	width: 30px; 
	height: 30px; 
	background-color: white; 
	float: left; 
	margin: -3px 0 0 -3px;
	border: 2px solid #D0D0D0; 
	transition: left 0.3s; }

.toggle-button-selected { 
	background-color: #83B152; 
	border: 2px solid #7DA652; }

.toggle-button-selected button { 
	left: 26px; top: 0; margin: 0; 
	border: none; width: 24px; 
	height: 24px; 
	box-shadow: 0 0 4px rgba(0,0,0,0.1); }

.toggle-container {
	text-align:center;
}

#cover-img {
	width:100%;height:auto;
	border-bottom: 4px solid #FF9900;
	margin: 0;
}

.problem-body {
	background-color: #434343;
	color: white;
	margin: 0;
	padding: 0;
}

.solution-body {
	background-color: #fff;
	color: #434343;
	margin: 0;
	padding: 0;
}

.content {
	margin: 2em 8em 0 8em;
	text-align:center;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://localhost:5000/static/images/gears.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}