{% extends "layout.html" %}
{% block body %}
<div class="row" style="margin-top:50px;">
	<div class="col-md-6">
		<div class="bs-component">
			<div class="alert alert-success">
				<p>The most likely perpetrator behind the attack is:</p>
				<h1>{{ prediction }}</h1>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Probability of Multiple Attack</h3>
			</div>
			<div class="panel-body">
				<h1>{{ mult }}%</h1>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Most Likely to be Attacked</h3>
			</div>
			<div class="panel-body">
				<h1>{{ location }}</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Estimated casualty count</h3>
			</div>
			<div class="panel-body">
				<h1>{{ casualties_num }}</h1>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Preferred Choice of Weapon</h3>
			</div>
			<div class="panel-body">
				<h1>{{ weaptype }}</h1>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Probability that Property Damage Exceeds $1 million</h3>
			</div>
			<div class="panel-body">
				<h1>{{ propdmg_prob }}</h1>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Expected Number of Perpetrators</h3>
			</div>
			<div class="panel-body">
				<h1>{{ numperps_arr }}</h1>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="bs-component">
			<ul class="pager">
				<li><a href="#">Graph 1</a></li>
				<li><a href="#">Graph 2</a></li>
			</ul>
		</div>
		<div id="heatmap-container">
			<div id="floating-panel">
				<button onclick="toggleHeatmap()">Toggle Heatmap</button>
				<button onclick="changeGradient()">Change gradient</button>
				<button onclick="changeRadius()">Change radius</button>
				<button onclick="changeOpacity()">Change opacity</button>
			</div>
			<div id="map"></div>

			<script>
			var map, heatmap;

			// Heatmap data: 500 Points

			function initMap() {
			    var bounds = new google.maps.LatLngBounds();

			    map = new google.maps.Map(document.getElementById('map'), {
			        zoom: 3,
			        center: {
			            lat: 0,
			            lng: 0
			        },
			        mapTypeId: google.maps.MapTypeId.ROADMAP
			    });

			    function fitForBounds(data) {
			        for (var i = 0; i < data.length; i++) {
			            bounds.extend(data[i]);
			        }
			    }
			    fitForBounds(jQuery.makeArray( {{ gps_coords }} ));
			    map.setCenter(bounds.getCenter());
			    heatmap = new google.maps.visualization.HeatmapLayer({
			        data: getPoints(),
			        map: map
			    });
			    map.fitBounds(bounds);
			}

			function toggleHeatmap() {
			    heatmap.setMap(heatmap.getMap() ? null : map);
			}

			function changeGradient() {
			    var gradient = [
			        'rgba(0, 255, 255, 0)',
			        'rgba(0, 255, 255, 1)',
			        'rgba(0, 191, 255, 1)',
			        'rgba(0, 127, 255, 1)',
			        'rgba(0, 63, 255, 1)',
			        'rgba(0, 0, 255, 1)',
			        'rgba(0, 0, 223, 1)',
			        'rgba(0, 0, 191, 1)',
			        'rgba(0, 0, 159, 1)',
			        'rgba(0, 0, 127, 1)',
			        'rgba(63, 0, 91, 1)',
			        'rgba(127, 0, 63, 1)',
			        'rgba(191, 0, 31, 1)',
			        'rgba(255, 0, 0, 1)'
			    ]
			    heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
			}

			function changeRadius() {
			    heatmap.set('radius', heatmap.get('radius') ? null : 20);
			}

			function changeOpacity() {
			    heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
			}
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWC988fyeewFRL_xQPNaV0xHX3T_MKgRk&signed_in=true&libraries=visualization&callback=initMap"></script>
		</div>
	</div>
</div>
{% endblock %}