{% extends "layout.html" %}
{% block body %}
<div class="col-md-4 info-container">
	<!-- TEMP DISABLE CSV -->
<!--	<div style="margin-bottom:25px; text-align:center; color:red;"><b></b>
    <span class="file-input btn btn-primary btn-file">
            Upload CSV File..&hellip; <input id = "csv" type="file" accept=".csv" multiple>
    </span>
    </div>-->
	&nbsp;
	&nbsp;
	&nbsp;
	&nbsp;
	&nbsp;
	&nbsp;
	<div class="row">
		<div class="col-md-4 col-sm-4" style="text-align:center;">
			<img src="{{ url_for('static', filename='images/culprit.svg') }}" />
		</div>
		<div class="col-md-8 col-sm-8">
			<p>The most likely perpetrator is</p>
			<h3>{{ prediction }}</h3>
		</div>
	</div>
	<div class="clear"></div>
	<div class="info-header">
		<h1>Attack Statistics</h1>
	</div>
	<div>
		<table class="table">
			<tbody>
				<tr>
					<td>Probability of Multiple Attacks</td>
					<td>{{ mult }}%</td>
				</tr><tr>
					<td>Most Likely Place to be Attacked Next</td>
					<td>{{ location }}</td>
				</tr><tr>
					<td>Estimated Casualty Count</td>
					<td>{{ casualties_num }}</td>
				</tr><tr>
					<td>Preferred Choice of Weapon</td>
					<td>{{ weaptype }}</td>
				</tr><tr>
					<td>Property Damage: {{propdmg_value}}</td>
					<td>{{ propdmg_prob }}</td>
				</tr><tr>
					<td>Expected Number of Perpetrators</td>
					<td>{{ numperps }}</td>
				</tr>

			</tbody>
		</table>
	</div>
	<!-- <div class="info-header">
		<h1>Plot Settings</h1>
	</div>
	<div class="row">
		<div class="col-md-6 toggle-container">
			Location<br />
			<div class="toggle-button">
    			<button></button>
    		</div>
    	</div>
    	<div class="col-md-6 toggle-container">
    		Twitter<br />
			<div class="toggle-button">
    			<button></button>
    		</div>
    	</div>
    </div> -->
</div>
<div class="col-md-8 gmaps-container">
	<iframe width="100%" height="100%" scrolling="no" frameborder="0" src="/heatmap"></iframe>
</div>
{% endblock %}
