{% extends "layout.html" %}
{% block body %}
<img src="{{ url_for('static', filename='images/background.jpg') }}" id="cover-img" />
<div class="clear"></div>
<div class="problem-body" style="border:2px solid #434343;">
	<div class="content">
		
		<div class="section-title">
			<h1>The Problem</h1>
		</div>
		<div class="col-md-4 intro-block gridlines">
			Primitive tools of capture: lack of real time actionable insights
		</div>
		<div class="col-md-4 intro-block gridlines">
			Slow reaction time: by the time we realize what's going on, the terrorists are gone
		</div>
		<div class="col-md-4 intro-block gridlines">
			Information asymmetry: local authorities are only aware of terrorist cells in their area and aren't prepared for attacks from foreign groups
		</div>
		<div>test </div>
		
	</div>
</div>
<div class="solution-body">
	<div class="content">
		
		<div class="section-title">
			<h1>Our Solution</h1>
		</div>
		
		<div class="col-md-4 intro-block gridlines">
			Saves authorities valuable time
		</div>
		<div class="col-md-4 intro-block gridlines">
			Prevents unnecessary loss of life
		</div>
		<div class="col-md-4 intro-block gridlines">
			Swift justice brought upon the infidels
		</div>
		<div> test bug </div>
		
	</div>
</div>
<div class="cta-body">
	<a href="/dashboard" class="cta-button">Let Me Try!</a>
</div>
{% endblock %}