{% extends "layout.html" %}
{% block body %}
<style type="text/css">
    .form-style-5 {
        max-width: 500px;
        padding: 10px 20px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        background: #f4f7f8;
        border-radius: 8px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

    .form-style-5 fieldset {
        border: none;
    }

    .form-style-5 legend {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .form-style-5 label {
        display: block;
        margin-bottom: 8px;
    }

    .form-style-5 input[type="text"],
    .form-style-5 input[type="date"],
    .form-style-5 input[type="datetime"],
    .form-style-5 input[type="email"],
    .form-style-5 input[type="number"],
    .form-style-5 input[type="search"],
    .form-style-5 input[type="time"],
    .form-style-5 input[type="url"],
    .form-style-5 textarea,
    .form-style-5 select {
        font-family: Georgia, "Times New Roman", Times, serif;
        background: rgba(255, 255, 255, .1);
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin: 0;
        outline: 0;
        padding: 7px;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #e8eeef;
        color: #8a97a0;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;

    }

    .form-style-5 input[type="text"]:focus,
    .form-style-5 input[type="date"]:focus,
    .form-style-5 input[type="datetime"]:focus,
    .form-style-5 input[type="email"]:focus,
    .form-style-5 input[type="number"]:focus,
    .form-style-5 input[type="search"]:focus,
    .form-style-5 input[type="time"]:focus,
    .form-style-5 input[type="url"]:focus,
    .form-style-5 textarea:focus,
    .form-style-5 select:focus {
        background: #d2d9dd;
    }

    .form-style-5 select {
        -webkit-appearance: menulist-button;
        height: 35px;
    }

    .form-style-5 .number {
        background: #FF9900;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
        border-radius: 15px 15px 15px 0px;
    }

    .form-style-5 input[type="submit"],
    .form-style-5 input[type="button"] {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #FF9900;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #ff7b00;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
    }

    .form-style-5 input[type="submit"]:hover,
    .form-style-5 input[type="button"]:hover {
        background: #FF9900;
    }
</style>
<div class="form-style-5">
    <form action="/dashboard" method="post" name="input">
        <fieldset>
            <legend><span class="number">?</span> Inputs for Terror-Eyes</legend>
            <label for="country">Country of Attack</label>
            <select id="country" name="country">
                <option value='Afghanistan'>Afghanistan</option>
                <option value='Albania'>Albania</option>
                <option value='Algeria'>Algeria</option>
                <option value='Andorra'>Andorra</option>
                <option value='Angola'>Angola</option>
                <option value='Antigua and Barbuda'>Antigua and Barbuda</option>
                <option value='Argentina'>Argentina</option>
                <option value='Armenia'>Armenia</option>
                <option value='Australia'>Australia</option>
                <option value='Austria'>Austria</option>
                <option value='Azerbaijan'>Azerbaijan</option>
                <option value='Bahamas'>Bahamas</option>
                <option value='Bahrain'>Bahrain</option>
                <option value='Bangladesh'>Bangladesh</option>
                <option value='Barbados'>Barbados</option>
                <option value='Belgium'>Belgium</option>
                <option value='Belize'>Belize</option>
                <option value='Benin'>Benin</option>
                <option value='Bermuda*'>Bermuda*</option>
                <option value='Bhutan'>Bhutan</option>
                <option value='Bolivia'>Bolivia</option>
                <option value='Bosnia‐Herzegovina'>Bosnia‐Herzegovina</option>
                <option value='Botswana'>Botswana</option>
                <option value='Brazil'>Brazil</option>
                <option value='Brunei'>Brunei</option>
                <option value='Bulgaria'>Bulgaria</option>
                <option value='Burkina Faso'>Burkina Faso</option>
                <option value='Burundi'>Burundi</option>
                <option value='Belarus'>Belarus</option>
                <option value='Cambodia'>Cambodia</option>
                <option value='Cameroon'>Cameroon</option>
                <option value='Canada'>Canada</option>
                <option value='Cayman Islands'>Cayman Islands</option>
                <option value='Central African Republic'>Central African Republic</option>
                <option value='Chad'>Chad</option>
                <option value='Chile'>Chile</option>
                <option value='China'>China</option>
                <option value='Colombia'>Colombia</option>
                <option value='Comoros'>Comoros</option>
                <option value='Republic of the Congo'>Republic of the Congo</option>
                <option value='Costa Rica'>Costa Rica</option>
                <option value='Croatia'>Croatia</option>
                <option value='Cuba'>Cuba</option>
                <option value='Cyprus'>Cyprus</option>
                <option value='Czech Republic'>Czech Republic</option>
                <option value='Denmark'>Denmark</option>
                <option value='Djibouti'>Djibouti</option>
                <option value='Dominica'>Dominica</option>
                <option value='Dominican Republic'>Dominican Republic</option>
                <option value='Ecuador'>Ecuador</option>
                <option value='Egypt'>Egypt</option>
                <option value='El Salvador'>El Salvador</option>
                <option value='Equatorial Guinea'>Equatorial Guinea</option>
                <option value='Eritrea'>Eritrea</option>
                <option value='Estonia'>Estonia</option>
                <option value='Ethiopia'>Ethiopia</option>
                <option value='Falkland Islands'>Falkland Islands</option>
                <option value='Fiji'>Fiji</option>
                <option value='Finland'>Finland</option>
                <option value='France'>France</option>
                <option value='French Guiana'>French Guiana</option>
                <option value='French Polynesia'>French Polynesia</option>
                <option value='Gabon'>Gabon</option>
                <option value='Gambia'>Gambia</option>
                <option value='Georgia'>Georgia</option>
                <option value='Germany'>Germany</option>
                <option value='Ghana'>Ghana</option>
                <option value='Gibraltar'>Gibraltar</option>
                <option value='Greece'>Greece</option>
                <option value='Greenland*'>Greenland*</option>
                <option value='Grenada'>Grenada</option>
                <option value='Guadeloupe'>Guadeloupe</option>
                <option value='Guatemala'>Guatemala</option>
                <option value='Guinea'>Guinea</option>
                <option value='Guinea‐Bissau'>Guinea‐Bissau</option>
                <option value='Guyana'>Guyana</option>
                <option value='Haiti'>Haiti</option>
                <option value='Honduras'>Honduras</option>
                <option value='Hong Kong'>Hong Kong</option>
                <option value='Hungary'>Hungary</option>
                <option value='Iceland'>Iceland</option>
                <option value='India'>India</option>
                <option value='Indonesia'>Indonesia</option>
                <option value='Iran'>Iran</option>
                <option value='Iraq'>Iraq</option>
                <option value='Ireland'>Ireland</option>
                <option value='Israel'>Israel</option>
                <option value='Italy'>Italy</option>
                <option value='Ivory Coast'>Ivory Coast</option>
                <option value='Jamaica'>Jamaica</option>
                <option value='Japan'>Japan</option>
                <option value='Jordan'>Jordan</option>
                <option value='Kazakhstan'>Kazakhstan</option>
                <option value='Kenya'>Kenya</option>
                <option value='Kuwait'>Kuwait</option>
                <option value='Kyrgyzstan'>Kyrgyzstan</option>
                <option value='Laos'>Laos</option>
                <option value='Latvia'>Latvia</option>
                <option value='Lebanon'>Lebanon</option>
                <option value='Lesotho'>Lesotho</option>
                <option value='Liberia'>Liberia</option>
                <option value='Libya'>Libya</option>
                <option value='Liechtenstein*'>Liechtenstein*</option>
                <option value='Lithuania'>Lithuania</option>
                <option value='Luxembourg'>Luxembourg</option>
                <option value='Macau'>Macau</option>
                <option value='Macedonia'>Macedonia</option>
                <option value='Madagascar'>Madagascar</option>
                <option value='Malawi'>Malawi</option>
                <option value='Malaysia'>Malaysia</option>
                <option value='Maldives'>Maldives</option>
                <option value='Mali'>Mali</option>
                <option value='Malta'>Malta</option>
                <option value='Man Isle of*'>Man Isle of*</option>
                <option value='Martinique'>Martinique</option>
                <option value='Mauritania'>Mauritania</option>
                <option value='Mauritius'>Mauritius</option>
                <option value='Mexico'>Mexico</option>
                <option value='Moldova'>Moldova</option>
                <option value='Mongolia*'>Mongolia*</option>
                <option value='Morocco'>Morocco</option>
                <option value='Mozambique'>Mozambique</option>
                <option value='Myanmar'>Myanmar</option>
                <option value='Namibia'>Namibia</option>
                <option value='Nepal'>Nepal</option>
                <option value='Netherlands'>Netherlands</option>
                <option value='New Caledonia'>New Caledonia</option>
                <option value='New Zealand'>New Zealand</option>
                <option value='Nicaragua'>Nicaragua</option>
                <option value='Niger'>Niger</option>
                <option value='Nigeria'>Nigeria</option>
                <option value='North Korea'>North Korea</option>
                <option value='Norway'>Norway</option>
                <option value='Oman'>Oman*</option>
                <option value='Pakistan'>Pakistan</option>
                <option value='West Bank and Gaza'>West Bank and Gaza</option>
                <option value='Strip'>Strip</option>
                <option value='Panama'>Panama</option>
                <option value='Papua New Guinea'>Papua New Guinea</option>
                <option value='Paraguay'>Paraguay</option>
                <option value='Peru'>Peru</option>
                <option value='Philippines'>Philippines</option>
                <option value='Poland'>Poland</option>
                <option value='Portugal'>Portugal</option>
                <option value='Puerto Rico*'>Puerto Rico*</option>
                <option value='Qatar'>Qatar</option>
                <option value='Romania'>Romania</option>
                <option value='Russia'>Russia</option>
                <option value='Rwanda'>Rwanda</option>
                <option value='Saudi Arabia'>Saudi Arabia</option>
                <option value='Senegal'>Senegal</option>
                <option value='Serbia‐Montenegro'>Serbia‐Montenegro</option>
                <option value='Seychelles'>Seychelles</option>
                <option value='Sierra Leone'>Sierra Leone</option>
                <option value='Singapore'>Singapore</option>
                <option value='Slovak Republic'>Slovak Republic</option>
                <option value='Slovenia'>Slovenia</option>
                <option value='Solomon Islands'>Solomon Islands</option>
                <option value='Somalia'>Somalia</option>
                <option value='South Africa'>South Africa</option>
                <option value='South Korea'>South Korea</option>
                <option value='Spain'>Spain</option>
                <option value='Sri Lanka'>Sri Lanka</option>
                <option value='St. Kitts and Nevis'>St. Kitts and Nevis</option>
                <option value='St. Lucia'>St. Lucia</option>
                <option value='St. Martin*'>St. Martin*</option>
                <option value='Sudan'>Sudan</option>
                <option value='Suriname'>Suriname</option>
                <option value='Swaziland'>Swaziland</option>
                <option value='Sweden'>Sweden</option>
                <option value='Switzerland'>Switzerland</option>
                <option value='Syria'>Syria</option>
                <option value='Taiwan'>Taiwan</option>
                <option value='Tajikistan'>Tajikistan</option>
                <option value='Tanzania'>Tanzania</option>
                <option value='Togo'>Togo</option>
                <option value='Thailand'>Thailand</option>
                <option value='Tonga*'>Tonga*</option>
                <option value='Trinidad and Tobago'>Trinidad and Tobago</option>
                <option value='Tunisia'>Tunisia</option>
                <option value='Turkey'>Turkey</option>
                <option value='Turkmenistan'>Turkmenistan</option>
                <option value='Uganda'>Uganda</option>
                <option value='Ukraine'>Ukraine</option>
                <option value='United Arab Emirates'>United Arab Emirates</option>
                <option value='Great Britain*'>Great Britain*</option>
                <option value='United States'>United States</option>
                <option value='Uruguay'>Uruguay</option>
                <option value='Uzbekistan'>Uzbekistan</option>
                <option value='Vanuatu'>Vanuatu</option>
                <option value='Vatican City'>Vatican City</option>
                <option value='Venezuela'>Venezuela</option>
                <option value='Vietnam'>Vietnam</option>
                <option value='Wallis and Futuna'>Wallis and Futuna</option>
                <option value='Yemen'>Yemen</option>
                <option value='Democratic Republic of the Congo>of the Congo'>Democratic Republic of the Congo>of the Congo</option>
                <option value='Zambia'>Zambia</option>
                <option value='Zimbabwe'>Zimbabwe</option>
                <option value='Northern Ireland*'>Northern Ireland*</option>
                <option value='Yugoslavia'>Yugoslavia</option>
                <option value='Czechoslovakia'>Czechoslovakia</option>
                <option value='Corsica'>Corsica</option>
                <option value='East Timor'>East Timor</option>
                <option value='Western Sahara'>Western Sahara</option>
                <option value='Commonwealth of the Independent States*>'>Commonwealth of the Independent States*></option>
                <option value='Soviet Union'>Soviet Union</option>
                <option value='West Germany (FRG)'>West Germany (FRG)</option>
                <option value='North Yemen'>North Yemen</option>
                <option value='Rhodesia'>Rhodesia</option>
                <option value='South Yemen'>South Yemen</option>
                <option value='International'>International</option>
                <option value='South Vietnam'>South Vietnam</option>
                <option value='East Germany (GDR)'>East Germany (GDR)</option>
                <option value='Sinhalese*'>Sinhalese*</option>
                <option value='New Hebrides'>New Hebrides</option>
                <option value='United Kingdom'>United Kingdom</option>
                <option value='Zaire'>Zaire</option>
                <option value='Peoples Republic of the Congo'>Peoples Republic of the Congo</option>
                <option value='Multinational*'>Multinational*</option>
                <option value='Serbia'>Serbia</option>
                <option value='Montenegro'>Montenegro</option>
                <option value='Kosovo'>Kosovo</option>
                <option value='South Sudan'>South Sudan</option>
            </select>
            <label for="natlty1">Nationality of Terrorist</label>
            <select id="natlty1" name="natlty1">
                <option value="">-- Select Nationality --</option>
                <option value='4'>Afghanistan</option>
                <option value='5'>Albania</option>
                <option value='6'>Algeria</option>
                <option value='7'>Andorra</option>
                <option value='8'>Angola</option>
                <option value='10'>Antigua and Barbuda</option>
                <option value='11'>Argentina</option>
                <option value='12'>Armenia</option>
                <option value='14'>Australia</option>
                <option value='15'>Austria</option>
                <option value='16'>Azerbaijan</option>
                <option value='17'>Bahamas</option>
                <option value='18'>Bahrain</option>
                <option value='19'>Bangladesh</option>
                <option value='20'>Barbados</option>
                <option value='21'>Belgium</option>
                <option value='22'>Belize</option>
                <option value='23'>Benin</option>
                <option value='24'>Bermuda</option>
                <option value='25'>Bhutan</option>
                <option value='26'>Bolivia</option>
                <option value='28'>Bosnia‐Herzegovina</option>
                <option value='29'>Botswana</option>
                <option value='30'>Brazil</option>
                <option value='31'>Brunei</option>
                <option value='32'>Bulgaria</option>
                <option value='33'>Burkina Faso</option>
                <option value='34'>Burundi</option>
                <option value='35'>Belarus</option>
                <option value='36'>Cambodia</option>
                <option value='37'>Cameroon</option>
                <option value='38'>Canada</option>
                <option value='40'>Cayman Islands</option>
                <option value='41'>Central African Republic</option>
                <option value='42'>Chad</option>
                <option value='43'>Chile</option>
                <option value='44'>China</option>
                <option value='45'>Colombia</option>
                <option value='46'>Comoros</option>
                <option value='47'>Republic of the Congo</option>
                <option value='49'>Costa Rica</option>
                <option value='50'>Croatia</option>
                <option value='51'>Cuba</option>
                <option value='53'>Cyprus</option>
                <option value='54'>Czech Republic</option>
                <option value='55'>Denmark</option>
                <option value='56'>Djibouti</option>
                <option value='57'>Dominica</option>
                <option value='58'>Dominican Republic</option>
                <option value='59'>Ecuador</option>
                <option value='60'>Egypt</option>
                <option value='61'>El Salvador</option>
                <option value='62'>Equatorial Guinea</option>
                <option value='63'>Eritrea</option>
                <option value='64'>Estonia</option>
                <option value='65'>Ethiopia</option>
                <option value='66'>Falkland Islands</option>
                <option value='67'>Fiji</option>
                <option value='68'>Finland</option>
                <option value='69'>France</option>
                <option value='70'>French Guiana</option>
                <option value='71'>French Polynesia</option>
                <option value='72'>Gabon</option>
                <option value='73'>Gambia</option>
                <option value='74'>Georgia</option>
                <option value='75'>Germany</option>
                <option value='76'>Ghana</option>
                <option value='77'>Gibraltar</option>
                <option value='78'>Greece</option>
                <option value='79'>Greenland</option>
                <option value='80'>Grenada</option>
                <option value='81'>Guadeloupe</option>
                <option value='83'>Guatemala</option>
                <option value='84'>Guinea</option>
                <option value='85'>Guinea‐Bissau</option>
                <option value='86'>Guyana</option>
                <option value='87'>Haiti</option>
                <option value='88'>Honduras</option>
                <option value='89'>Hong Kong</option>
                <option value='90'>Hungary</option>
                <option value='91'>Iceland</option>
                <option value='92'>India</option>
                <option value='93'>Indonesia</option>
                <option value='94'>Iran</option>
                <option value='95'>Iraq</option>
                <option value='96'>Ireland</option>
                <option value='97'>Israel</option>
                <option value='98'>Italy</option>
                <option value='99'>Ivory Coast</option>
                <option value='100'>Jamaica</option>
                <option value='101'>Japan</option>
                <option value='102'>Jordan</option>
                <option value='103'>Kazakhstan</option>
                <option value='104'>Kenya</option>
                <option value='106'>Kuwait</option>
                <option value='107'>Kyrgyzstan</option>
                <option value='108'>Laos</option>
                <option value='109'>Latvia</option>
                <option value='110'>Lebanon</option>
                <option value='111'>Lesotho</option>
                <option value='112'>Liberia</option>
                <option value='113'>Libya</option>
                <option value='114'>Liechtenstein</option>
                <option value='115'>Lithuania</option>
                <option value='116'>Luxembourg</option>
                <option value='117'>Macau</option>
                <option value='118'>Macedonia</option>
                <option value='119'>Madagascar</option>
                <option value='120'>Malawi</option>
                <option value='121'>Malaysia</option>
                <option value='122'>Maldives</option>
                <option value='123'>Mali</option>
                <option value='124'>Malta</option>
                <option value='125'>Man, Isle of</option>
                <option value='127'>Martinique</option>
                <option value='128'>Mauritania</option>
                <option value='129'>Mauritius</option>
                <option value='130'>Mexico</option>
                <option value='132'>Moldova</option>
                <option value='134'>Mongolia</option>
                <option value='136'>Morocco</option>
                <option value='137'>Mozambique</option>
                <option value='138'>Myanmar</option>
                <option value='139'>Namibia</option>
                <option value='141'>Nepal</option>
                <option value='142'>Netherlands</option>
                <option value='143'>New Caledonia</option>
                <option value='144'>New Zealand</option>
                <option value='145'>Nicaragua</option>
                <option value='146'>Niger</option>
                <option value='147'>Nigeria</option>
                <option value='149'>North Korea</option>
                <option value='151'>Norway</option>
                <option value='152'>Oman</option>
                <option value='153'>Pakistan</option>
                <option value='155'>West Bank and Gaza Strip</option>
                <option value='156'>Panama</option>
                <option value='157'>Papua New Guinea</option>
                <option value='158'>Paraguay</option>
                <option value='159'>Peru</option>
                <option value='160'>Philippines</option>
                <option value='161'>Poland</option>
                <option value='162'>Portugal</option>
                <option value='163'>Puerto Rico</option>
                <option value='164'>Qatar</option>
                <option value='166'>Romania</option>
                <option value='167'>Russia</option>
                <option value='168'>Rwanda</option>
                <option value='173'>Saudi Arabia</option>
                <option value='174'>Senegal</option>
                <option value='175'>Serbia‐Montenegro</option>
                <option value='176'>Seychelles</option>
                <option value='177'>Sierra Leone</option>
                <option value='178'>Singapore</option>
                <option value='179'>Slovak Republic</option>
                <option value='180'>Slovenia</option>
                <option value='181'>Solomon Islands</option>
                <option value='182'>Somalia</option>
                <option value='183'>South Africa</option>
                <option value='184'>South Korea</option>
                <option value='185'>Spain</option>
                <option value='186'>Sri Lanka</option>
                <option value='189'>St. Kitts and Nevis</option>
                <option value='190'>St. Lucia</option>
                <option value='192'>St. Martin</option>
                <option value='195'>Sudan</option>
                <option value='196'>Suriname</option>
                <option value='197'>Swaziland</option>
                <option value='198'>Sweden</option>
                <option value='199'>Switzerland</option>
                <option value='200'>Syria</option>
                <option value='201'>Taiwan</option>
                <option value='202'>Tajikistan</option>
                <option value='203'>Tanzania</option>
                <option value='204'>Togo</option>
                <option value='205'>Thailand</option>
                <option value='206'>Tonga</option>
                <option value='207'>Trinidad and Tobago</option>
                <option value='208'>Tunisia</option>
                <option value='209'>Turkey</option>
                <option value='210'>Turkmenistan</option>
                <option value='213'>Uganda</option>
                <option value='214'>Ukraine</option>
                <option value='215'>United Arab Emirates</option>
                <option value='216'>Great Britain</option>
                <option value='217'>United States</option>
                <option value='218'>Uruguay</option>
                <option value='219'>Uzbekistan</option>
                <option value='220'>Vanuatu</option>
                <option value='221'>Vatican City</option>
                <option value='222'>Venezuela</option>
                <option value='223'>Vietnam</option>
                <option value='226'>Wallis and Futuna</option>
                <option value='228'>Yemen</option>
                <option value='229'>Democratic Republic of the Congo</option>
                <option value='230'>Zambia</option>
                <option value='231'>Zimbabwe</option>
                <option value='233'>Northern Ireland</option>
                <option value='235'>Yugoslavia</option>
                <option value='236'>Czechoslovakia</option>
                <option value='238'>Corsica</option>
                <option value='334'>Asian</option>
                <option value='347'>East Timor</option>
                <option value='349'>Western Sahara</option>
                <option value='351'>Commonwealth of Independent States</option>
                <option value='359'>Soviet Union</option>
                <option value='362'>West Germany (FRG)</option>
                <option value='377'>North Yemen</option>
                <option value='403'>Rhodesia</option>
                <option value='406'>South Yemen</option>
                <option value='422'>International</option>
                <option value='428'>South Vietnam</option>
                <option value='499'>East Germany (GDR)</option>
                <option value='520'>Sinhalese</option>
                <option value='532'>New Hebrides</option>
                <option value='603'>United Kingdom</option>
                <option value='604'>Zaire</option>
                <option value='605'>People's Republic of the Congo</option>
                <option value='999'>Multinational</option>
                <option value='1001'>Serbia</option>
                <option value='1002'>Montenegro</option>
                <option value='1003'>Kosovo</option>
                <option value='1004'>South Sudan</option>
            </select>
            <label for="region">Region of Attack</label>
            <select id="region" name="region">
                <option value="">-- Select Region --</option>
                <option value="1">North America</option>
                <option value="2">Central America &amp; Caribbean</option>
                <option value="3">South America</option>
                <option value="4">East Asia</option>
                <option value="5">Southeast Asia</option>
                <option value="6">South Asia</option>
                <option value="7">Central Asia</option>
                <option value="8">Western Europe</option>
                <option value="9">Eastern Europe</option>
                <option value="10">Middle East &amp; North Africa</option>
                <option value="11">Sub-Saharan Africa</option>
                <option value="12">Australasia &amp; oceania</option>
            </select>
            <label for="weapsubtype1">Type of Weapon Used</label>
            <select id="weapsubtype1" name="weapsubtype1">
                <option value="">-- Select Weapon Used --</option>
                <option value="1">Poisoning</option>
                <optgroup label="Firearms">
                    <option value="2">Automatic Weapon</option>
                    <option value="3">Handgun</option>
                    <option value="4">Rifle/Shotgun</option>
                    <option value="5">Unknown Gun Type</option>
                    <option value="6">Other Gun Type</option>
                </optgroup>
                <optgroup label="Explosives/Bombs/Dynamite">
                    <option value="7">Grenade (not RPGs)</option>
                    <option value="8">Mine</option>
                    <option value="9">Mail Bomb</option>
                    <option value="10">Pressure Trigger</option>
                    <option value="11">Projectile</option>
                    <option value="12">Remote Device</option>
                    <option value="13">Suicide</option>
                    <option value="14">Time Fuse</option>
                    <option value="15">Vehicle</option>
                    <option value="16">Unknown Explosive Type</option>
                    <option value="17">Other Explosive Type</option>
                    <option value="18">Dynamite/TNT</option>
                    <option value="19">Sticky Bomb</option>
                </optgroup>
                <optgroup label="Incendiary">
                    <option value="20">Arson/Fire</option>
                    <option value="21">Molotov Cocktail/Petrol Bomb</option>
                    <option value="22">Gasoline or Alcohol</option>
                </optgroup>
                <optgroup label="Melee">
                    <option value="23">Blunt Object</option>
                    <option value="24">Hands, Feet, Fists</option>
                    <option value="25">Knife or Sharp Object</option>
                    <option value="26">Rope or Strangling Device</option>
                    <option value="27">Suffocation</option>
                    <option value="28">Unknown Weapon Type</option>
                </optgroup>
            </select>
            <label for="targsubtype1">Type of Target</label>
            <select id="targsubtype1" name="targsubtype1">
                <option value="">-- Select Target Type --</option>
                <optgroup label='Business'><option value='1'>Gas/Oil</option>
                    <option value='2'>Restaurant/Bar/Café</option>
                    <option value='3'>Bank/Commerce  </option>
                    <option value='4'>Multinational Corporation</option>
                    <option value='5'>Industrial/Textiles/Factory</option>
                    <option value='6'>Medical/Pharmaceutical</option>
                    <option value='7'>Retail/Grocery/Bakery (including cell phone shops and generic shops)</option>
                    <option value='8'>Hotel/Resort</option>
                    <option value='9'>Farm/Ranch</option>
                    <option value='10'>Mining</option>
                    <option value='11'>Entertainment/Cultural/Stadium/Casino</option>
                    <option value='12'>Construction</option>
                    <option value='13'>Private Security Company/Firm</option>
                </optgroup>
                <optgroup label='Government (General)'><option value='14'>Judges/Attorneys/Courts</option>
                    <option value='15'>Politician or Political Party Movement/Meeting/Rally</option>
                    <option value='16'>Royalty</option>
                    <option value='17'>Head of State</option>
                    <option value='18'>Government Personnel (excluding police, military)</option>
                    <option value='19'>Election‐related</option>
                    <option value='20'>Intelligence</option>
                    <option value='21'>Government Buildings/Facility/Office</option>
                </optgroup>
                <optgroup label='Police'><option value='22'>Police Buildings (Headquarters/Stations/School)</option>
                    <option value='23'>Police Patrol (including vehicles and convoys)</option>
                    <option value='24'>Police Checkpoint</option>
                    <option value='25'>Police Security Forces/Officers</option>
                    <option value='26'>Prison/Jail</option>
                </optgroup>
                <optgroup label='Military'><option value='27'>Military Barracks/Base/Headquarters/Checkpost</option>
                    <option value='28'>Military Recruiting Station/Academy</option>
                    <option value='29'>Military Unit/Patrol/Convoy</option>
                    <option value='30'>Military Weaponry</option>
                    <option value='31'>Military Aircraft</option>
                    <option value='32'>Military Maritime  </option>
                    <option value='33'>Non‐combatant Personnel</option>
                    <option value='34'>Military Personnel (soldiers, troops, officers, forces)</option>
                    <option value='35'>Military Transportation/Vehicle (excluding convoys)</option>
                    <option value='36'>Military Checkpoint</option>
                    <option value='37'>North Atlantic Treaty Organization (NATO) Related  </option>
                    <option value='38'>Marine  </option>
                    <option value='39'>Paramilitary  </option>
                </optgroup>
                <optgroup label='Abortion Related'><option value='40'>Clinics</option>
                    <option value='41'>Personnel</option>
                </optgroup>
                <optgroup label='Airports &amp; Aircraft  '><option value='42'>Aircraft (not at an airport)</option>
                    <option value='43'>Airline Officer/Personnel</option>
                    <option value='44'>Airport</option>
                </optgroup>
                <optgroup label='Government (Diplomatic)'><option value='45'>Diplomatic Personnel (outside of embassy, consulate)</option>
                    <option value='46'>Embassy/Consulate</option>
                    <option value='47'>International Organization (peacekeeper, aid agency, compound)</option>
                </optgroup>
                <optgroup label='Educational Institution  '><option value='48'>Teacher/Professor/Instructor</option>
                    <option value='49'>School/University/Educational Building</option>
                    <option value='50'>Other Personnel</option>
                </optgroup>
                <optgroup label='Food and Water Supply'><option value='51'>Food Supply</option>
                    <option value='52'>Water Supply</option>
                </optgroup>
                <optgroup label='Journalists & Media'><option value='53'>Newspaper Journalist/Staff/Facility</option>
                    <option value='54'>Radio Journalist/Staff/Facility</option>
                    <option value='55'>Television Journalist/Staff/Facility</option>
                    <option value='56'>Other (including online news agencies)</option>
                </optgroup>
                <optgroup label='Maritime'><option value='57'>Civilian Maritime</option>
                    <option value='58'>Commercial Maritime</option>
                    <option value='59'>Oil Tanker</option>
                    <option value='60'>Port</option>
                </optgroup>
                <optgroup label='NGO'><option value='61'>Domestic NGO</option>
                    <option value='62'>International NGO  </option>
                </optgroup>
                <optgroup label='Other'><option value='63'>Ambulance</option>
                    <option value='64'>Fire Fighter/Truck</option>
                    <option value='65'>Refugee Camp</option>
                    <option value='66'>Demilitarized Zone (including Green Zone) Private Citizens & Property</option>
                    <option value='67'>Unnamed Civilian/Unspecified</option>
                    <option value='68'>Named Civilian</option>
                    <option value='69'>Religion Identified</option>
                    <option value='70'>Student</option>
                    <option value='71'>Race/Ethnicity Identified</option>
                    <option value='72'>Farmer  </option>
                    <option value='73'>Vehicles/Transportation</option>
                    <option value='74'>Marketplace/Plaza/Square</option>
                    <option value='75'>Village/City/Town/Suburb</option>
                    <option value='76'>House/Apartment/Residence</option>
                    <option value='77'>Laborer (General)/Occupation Identified</option>
                    <option value='78'>Procession/Gathering (funeral, wedding, birthday, religious)</option>
                    <option value='79'>Public Areas (e.g., Public garden, parking lot, garage, beach, public buildings, camps)</option>
                    <option value='80'>Memorial/Cemetery/Monument</option>
                    <option value='81'>Museum/Cultural Center/Cultural House</option>
                    <option value='82'>Labor Union Related  </option>
                    <option value='83'>Protester</option>
                    <option value='84'>Political Party Member/Rally</option>
                </optgroup>
                <optgroup label="Religious Figures/Institutions">
                    <option value='85'>Religious Figure</option>
                    <option value='86'>Place of Worship</option>
                    <option value='87'>Affiliated Institution Telecommunication</option>
                    <option value='88'>Radio</option>
                    <option value='89'>Television</option>
                    <option value='90'>Telephone/Telegraph</option>
                    <option value='91'>Internet Infrastructure</option>
                    <option value='92'>Multiple Telecommunication Targets</option>
                </optgroup>
                <optgroup label='Terrorist/Non‐State Militia'><option value='93'>Terrorist Organization</option>
                    <option value='94'>Non‐State Militia</option>
                    </optgroup>
                    <optgroup label='Tourists  '><option value='95'>Tourism Travel Agency</option>
                    <option value='96'>Tour Bus/Van/Vehicle</option>
                    <option value='97'>Tourist</option>
                    <option value='98'>Other Facility</option>
                </optgroup>
                <optgroup label='Transportation'><option value='99'>Bus (excluding tourist)</option>
                    <option value='100'>Train/Train Tracks/ Trolley</option>
                    <option value='101'>Bus Station/Stop</option>
                    <option value='102'>Subway</option>
                    <option value='103'>Bridge/Car Tunnel</option>
                    <option value='104'>Highway/Road/Toll/Traffic Signal</option>
                    <option value='105'>Taxi/Rickshaw</option>
                </optgroup>
                <optgroup label='Utilities  '><option value='106'>Gas</option>
                    <option value='107'>Electricity  </option>
                    <option value='108'>Oil</option>
                </optgroup>
                <optgroup label='Violent Political Parties'><option value='109'>Party Official/Candidate/Other Personnel</option>
                    <option value='110'>Party Office/Facility</option>
                    <option value='111'>Rally</option>
                </optgroup>
            </select>
            <label for="killed"> Number of people Killed</label>
            <input type="number" name="nkill" placeholder="Only integers allowed">
            <label for="wounded"> Number of people Wounded</label>
            <input type="number" name="nwound" placeholder="Only integers allowed">
            <label for="fatalities"> Number of terrorist fatalities</label>
            <input type="number" name="nkillter" placeholder="Only integers allowed">
            <label for="property">Has there been Property Damage?</label>
            <select id="property" name="property">
                <option value="">-- Select Property Damage --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
                <option value="-9">Unknown</option>
            </select>
            <label for="attacktype1">Attack Type </label>
            <select id="attacktype1" name="attacktype1">
                <option value="">-- Select Attack Type --</option>
                <option value="1">Assassination</option>
                <option value="2">Armed Assault</option>
                <option value="3">Bombing/Explosion</option>
                <option value="4">Hijacking</option>
                <option value="5">Hostage Taking (Barricade)</option>
                <option value="6">Hostage Taking (Kidnapping)</option>
                <option value="7">Facility/Infrastructure Attack</option>
                <option value="8">Unarmed Assault</option>
                <option value="9">Unknown</option>
            </select>
            <label for="guncertain1">Has there been Speculation of perpetrators?</label>
            <select id="guncertain1" name="guncertain1">
                <option value="">-- Select Uncertain Perpetrators --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <label for="suicide"> Was this a Suicide Attack?</label>
            <select id="suicide" name="suicide">
                <option value="">-- Select if Suicide Attack --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </fieldset>
        <input type="submit" value="Predict!"/>
    </form>
</div>
{% endblock %}
